.navbar {
  position: sticky;
  top: 0;
  padding: 8px 0;
  background-color: #263238;
  z-index: 1000;
}

.navbar__logo {
  width: fit-content;
  margin: 0 auto;
}

.navbar__logo img {
  width: 70%;
  max-width: 160px;
}

.navbar .content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 0 16px;
}

.navbar ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  margin: 0;
}

.navbar li { margin: 0 15px;}

.navbar a {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .navbar img {
    width: 100%;
  }

  .navbar .content-container {
    flex-direction: row;
  }

  .navbar a {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .navbar .content-container {
    justify-content: space-evenly;
  }

  .navbar a {
    margin: initial;
  }

  .navbar ul {
    display: flex;
  }
}
