:root {
  --black-800: #263238;
  --black: #000;
  --brown-300: #c7ad87;
  --brown-400: #b39973;
  --brown-500: #c97800;
  --gray-200: #eceff1;
  --gray-300: #e5e5e5;
  --gray-400: #d9d9d9;
  --primary: #ff9900;
  --white: #fff;
  --overlay-brown: rgba(76, 54, 0, 0.63);
  --overlay-dark: rgba(27, 11, 0, 0.82);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 153, 0, 0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 153, 0, 0.75);
}

* {
  font-family: 'Montserrat', sans-serif;
}

.content-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.heading {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.heading span,
.heading-secondary span {
  color: var(--primary);
}

.heading-secondary {
  font-size: 2rem;
  line-height: 2.25rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.75rem;
    line-height: 4rem;
  }

  .heading-secondary {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}
